{% extends "base.html" %}

{% block title %}DeepStock Monitor{% endblock %}
{% block head %}
<script src="/static/js/particles.js"></script>
<script src="/static/js/particle-start.js"></script>
<link rel="stylesheet" href="/static/css/pure-min.css">
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}
<div id="particles-js">
    <div id="form-space">
        <div class="pure-g">
            <div class="pure-u-1-1">
                <h4>User Authorization</h4>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-1">
                <form action={{submit_route}} class="pure-form pure-form-aligned" method="POST">
                <div class="pure-group">
                    <input name="usr" type="text" placeholder="Username" required>
                    <input name="pwd" type="password" placeholder="Password" required>
                </div>
                <div class="pure-control-group">
                    <button type="submit" class="pure-button pure-button-primary">Login</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}